* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}
.topo {
    background-color: #1a1a1a;
    padding: 15px 30px;
    border-bottom: 2px solid #e8ff00; 
    overflow: hidden; 
}

.logo {
    float: left;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    color: #e8ff00;
    cursor: pointer;
}

.usuario {
    float: right;
    background: #333;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.cards-topo {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    background-color: #1a1a1a;
    padding: 20px;
    border: 1px solid #333;
    flex: 1; 
    text-align: center;
    border-radius: 5px;
}

.card p {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #e8ff00;
    font-size: 40px;
    letter-spacing: 2px;
}

.bloco {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #222;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h3 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #e8ff00;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 10px;
}

th {
    background-color: #222;
    color: #e8ff00;
    padding: 12px;
    text-align: left;
    font-size: 13px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #333;
    font-size: 14px;
}

tr:hover {
    background-color: #252525; 
}

.menu a.link-menu {
    color: #ff4d00; 
    margin-top: 20px;
}

.form {
    background-color: #1a1a1a;
    padding: 25px;
    border: 1px solid #333;
    max-width: 500px; 
    border-radius: 5px;
}

.form p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #bbb;
}

.form input, 
.form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #252525;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
    outline: none;
}

.form input:focus, 
.form select:focus {
    border-color: #e8ff00;
}

#btnSalvar {
    background-color: #e8ff00;
    color: black;
    border: none;
    padding: 12px 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

/* Botões secundários */
#btnLimpar, 
#btnCancelarEdicao {
    background-color: transparent;
    color: #888;
    border: 1px solid #444;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px;
}

#btnLimpar:hover {
    color: white;
    border-color: #666;
}

.corpo-login {
    background-color: #121212;
    font-family: 'DM Sans', sans-serif;
    color: white;
    margin-top: 100px; 
    text-align: center;
}

.caixa-login {
    background-color: #1a1a1a;
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #333; 
}

.login-topo h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #e8ff00;
    font-size: 45px;
    margin-bottom: 5px;
}

.form-login input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background: #222;
    border: 1px solid #555;
    color: white;
}

.btn-entrar {
    width: 95%;
    padding: 12px;
    background-color: #e8ff00;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-entrar:hover {
    background-color: #ffff00; 
}

.ou {
    margin: 10px 0;
    font-size: 12px;
    color: #888;
}


.btn-registrar {
    width: 95%;
    padding: 8px;
    background: none;
    border: 1px solid #e8ff00;
    color: #e8ff00;
    cursor: pointer;
}

.modal-simples {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #1a1a1a;
    border: 3px solid #e8ff00;
    padding: 20px;
    z-index: 100;
}